# Supabase Public Frontend Config (Set either PUBLISHABLE_KEY or ANON_KEY on Vercel)
NEXT_PUBLIC_SUPABASE_URL=https://jdaqvsgbchcljcwabiqy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_e27nlicqzJu4s-NtOfyn2g_jjkL80v1
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_e27nlicqzJu4s-NtOfyn2g_jjkL80v1

